*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

body{
    height: 100vh;
}

/* display none */
.logo-small{
    display: none;
} 
footer{
    height: 80px;
    color: #282828;
}

/* MAIN */
.container-main{
    height:calc(100vh - 80px);
    width: 100%;
    display: flex;
    flex-direction:row;
    
}
.menu{
    width: 200px;
    height: 100%;
    background-color: black;
    font-size: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content{
    flex-grow: 1;
    background-color: #141922;
} 

/* menu */
.logo-big{
    width: 60%;
}
.top-menu{
    color:#A3A3A3;
    margin-top: 20px;
}
.top-menu ul li{
    margin-bottom: 5px;
    list-style: none;
}
.top-menu li img{
    width: 25px;
    color:#A3A3A3;
}
/* playlist */
h4{
    color: white;
}
.playlist{
    margin-top: 20px;
    color: #A3A3A3;
}
.playlist span i {
    font-size: 30px;
}
.playlist span{
    margin: 10px 0px;
}
.playlist ul li{
    list-style: none;
    line-height: 25px;
}
.playlist span,
.top-menu ul li,
.user{
    display: flex;
    align-items: center;
}
.installa{
    padding: 3px;
    margin-bottom: 2px;
    color: #A3A3A3;
    border-bottom: solid 1px #A3A3A3;
}  
.user i{
    color: #A3A3A3;
    font-size: 20px;
}
.user span{
    color: white;
}

