*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* display none */
.logo-big{
    display: none;
} 
.top-menu span{
    display: none;
}

/* MAIN */
.container-main{
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

.menu{
    background-color: black;
}
.content{
    background-color: #141922;
} 
.logo-small{
    width: 30px;
}